# Homework Week 3

## Problem Statement 1

### Please find out concrete volumes (in cuyd) for each project.

In [1]:
from openpyxl import load_workbook
import pandas as pd
pd.set_option('display.max_rows', None)

In [2]:
# load workbook into dataframe
wb = load_workbook('week3_exercise.xlsx')
ws = wb['quantities']
data = ws.values
columns = next(data)[0:]
df = pd.DataFrame(data, columns=columns)

In [3]:
df_conc = df[df['Material'].str.contains('Psi')]

In [5]:
df_conc_sums = df_conc.groupby(['Project Name']).sum()
df_conc_sums['Weight'] /= 4.05
df_conc_sums.rename(columns={"Weight":"Volume"}, inplace = True)
pd.options.display.float_format = '{:,.0f}'.format
df_conc_sums.drop(columns = ['Analysis Floor Area','Unit Weight','Number Pieces','Number Studs'])

                                  Volume
Project Name
Bradley_CSB                            0
Bradley_Helixramp_1                  669
Bradley_Helixramp_2                  876
Bradley_QTA_East_Garage            7,055
Bradley_QTA_West_Garage            8,927
Bradley_Ready_Return_East_Garage  16,337
Bradley_Ready_Return_West_Garage  13,620
CFC_EDU                              260
CFC_WORSHIP                           16
LGH                                4,205
Loudoun County Garage             23,157
New-Orleans_Concourse_B               70
ODU                                1,493
S0112002_New-Orleans_Concourse_C      70
St.James_Court_House               3,817
St.James_Front_Bar_GM                446
St.James_Front_Bar_HC                837
St.James_Pool_House                2,262
St.James_Spine_Corridor              249
UVA                                2,495
VHC                                9,146