# Homework Week 3

## Problem Statement

### Please find out concrete volumes (in cuyd) for each project.

#### Import Libraries

In [41]:
import numpy as np
import pandas as pd
import math as m

#### Read in quantities csv file

In [42]:
df = pd.read_csv("Quantities_Revit.csv", usecols=['Project Name','Material Volume','Material Name'])

In [43]:
# determine unique materials so I can grab only the concrete elements
df_conc_only = df['Material Name'].unique()

In [44]:
df_conc = df[df['Material Name'].str.contains('Concrete')]

In [45]:
df_conc_sums = df_conc.groupby(['Project Name']).sum()
df_conc_sums['Material Volume'] /= 27
pd.options.display.float_format = '{:,.0f}'.format
df_conc_sums

                         Material Volume
Project Name
 Newark Airtrain                  51,341
Bradley                            8,388
Loudoun County Garage             12,016
New Orleans - Roof                 3,856
New Orleans - Structure           15,867
ODU                                2,112
St James                          13,565
UVA                               26,334
VCU                               39,166
VHC                                7,650