# Homework Week 3

## Problem Statement

### Please find out concrete volumes (in cuyd) for each project.

#### Import Libraries

In [12]:
import pandas as pd

In [13]:
# Read in csv file and only select relevant columns
df = pd.read_csv("Quantities_Revit.csv", usecols=['Project Name','Material Volume','Material Name'])

In [14]:
# Select only those rows that are a concrete material
df_conc = df[df['Material Name'].str.contains('Concrete')]

In [15]:
# Group by the Project Name
df_conc_sums = df_conc.groupby(['Project Name']).sum()

In [16]:
# Convert Material volume to cubic yards
df_conc_sums['Material Volume'] /= 27

In [17]:
# format the volume in a readable form
pd.options.display.float_format = '{:,.0f}'.format

In [18]:
# print out the dataframe
df_conc_sums

                         Material Volume
Project Name
 Newark Airtrain                  51,341
Bradley                            8,388
Loudoun County Garage             12,016
New Orleans - Roof                 3,856
New Orleans - Structure           15,867
ODU                                2,112
St James                          13,565
UVA                               26,334
VCU                               39,166
VHC                                7,650